VoiceAgent.json
{
  "name": "VoiceAgent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Dental Lead Information",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "User name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "placeholder": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone Number",
              "fieldType": "number",
              "placeholder": "Phone Number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -32,
        -96
      ],
      "id": "ed4f2428-76c6-4f8e-952d-f9d93c1261cc",
      "name": "On form submission",
      "webhookId": "87244ea9-e36a-4a21-8f8c-4bc901868869"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_3a98283514ddc21523c26367bfd2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"+19712656079\",\n  \"to_number\": \"+971{{ $json['Phone Number'] }}\",\n  \"override_agent_id\": \"agent_29957c702d1a9328370ac92cf2\",\n\n  \"metadata\": {},\n  \"retell_llm_dynamic_variables\": {\n    \"customer_name\": \"{{ $json.Name }}\",\n    \"phone_number\": \"{{ $json['Phone Number'] }}\",\n    \"email_id\": \"{{ $json.Email }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        -112
      ],
      "id": "2aabfc68-0901-4178-93ee-23433f06c0ec",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "58db8049-c9d7-415f-8093-bf370f9ef4db",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        96
      ],
      "id": "7f2c0a7d-f96f-494f-a690-f6ad89c9bd16",
      "name": "Webhook",
      "webhookId": "58db8049-c9d7-415f-8093-bf370f9ef4db"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User input\nUser Name - {{ $json.body.call.retell_llm_dynamic_variables.name }}\nPrefferd Time -{{ $json.body.call.transcript_object[7].content }}\nEmail ID - {{ $json.body.call.retell_llm_dynamic_variables.email_id }}\nCurrent time -{{ $now }}",
        "options": {
          "systemMessage": "=# Role\nYou are a calendar assistant. Your job is to create, retrieve, and delete events in the user's calendar.\n\n# Calendar Management Tools\n- Use **Create Event** when the event includes a participant.\n- Use **Get Event** to retrieve existing events.\n- Use **Delete Event** to remove events.\n\n# Rules\n- Convert every user query directly into an action.\n- Do not ask clarification questions unless absolutely necessary.\n- Infer missing details when reasonable.\n- Always generate a **proper, meaningful title** for every meeting or event.\n\n# Defaults\n- Current date/time: {{ $now }}\n- If the user does not specify duration, default to **1 hour**.\n\n# Goal\nInterpret the user's intent and take the appropriate calendar action using the available tools.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        80
      ],
      "id": "ed7487e2-d5c7-4580-a8f4-42e7e4b052da",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "itxshakeelasghar@gmail.com",
          "mode": "list",
          "cachedResultName": "itxshakeelasghar@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        400,
        272
      ],
      "id": "001a7295-b9db-49b2-a727-9ea1798066a2",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "p62yLlzOI6ZdvwUR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        256
      ],
      "id": "59776b3b-58f1-41a0-9325-96485aa76793",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "j0QPcWI9XZTRPU8h",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19V7g7ktHIllsMj4i5l7i_CCIqqts8GSTUlJzcVBRPqM",
          "mode": "list",
          "cachedResultName": "VoiceBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19V7g7ktHIllsMj4i5l7i_CCIqqts8GSTUlJzcVBRPqM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19V7g7ktHIllsMj4i5l7i_CCIqqts8GSTUlJzcVBRPqM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Webhook').item.json.body.call.retell_llm_dynamic_variables.name }}",
            "Email ID": "={{ $('Webhook').item.json.body.call.retell_llm_dynamic_variables.email_id }}",
            "Location": "={{ $('Webhook').item.json.body.call.transcript_object[5].content }}",
            "Prefferd Time": "={{ $('Webhook').item.json.body.call.transcript_object[7].content }}",
            "Concern": "={{ $('Webhook').item.json.body.call.transcript_object[9].content }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concern",
              "displayName": "Concern",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prefferd Time",
              "displayName": "Prefferd Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        80
      ],
      "id": "2d3a6d88-bbbf-4cb6-988d-e7e39bd0e6c9",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "e2kcAUUDQ753rdox",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "80eb9fca-1102-47ad-b4fe-7781dbc800e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4420bfc6d7ad36eff2e999e75fdcdbcd610d0a8befe3b1a9b00a7dfc4a98f4f1"
  },
  "id": "FK9RZgA4SFuLMW9a",
  "tags": []
}